.loader {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(black, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  &__spinner {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    background:
      radial-gradient(farthest-side, $color-primary-600 94%, #0000) top/0.9rem 0.9rem no-repeat,
      conic-gradient(#0000 10%, $color-primary-500);
    -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 1rem), #000 0);
    animation: spinner-c7wet2 1s infinite linear;

    @keyframes spinner-c7wet2 {
      100% {
        transform: rotate(1turn);
      }
    }
  }
}
