@if (data() && isModalLoaderType()) {
  <div
    class="auth h-screen flex items-start justify-center sm:items-center"
    data-testId="modal-loader-screen"
  >
    <div
      class="auth__container py-16 px-8 md:px-24 mx-auto flex flex-col sm:max-w-4xl sm:min-w-4xl w-full bg-neutral-100 rounded-2xl"
    >
      <h1 class="font-subtitle text-center" data-testId="modal-loader-title">
        {{ data()?.title }}
      </h1>
      <div class="flex justify-center my-8">
        <div class="loader__spinner"></div>
      </div>
      <p class="font-type-normal text-center text-neutral-700" data-testId="modal-loader-detail">
        {{ data()?.detail }}
      </p>
    </div>
  </div>
} @else {
  <div class="loader-full-screen" data-testId="full-loader-screen">
    <div class="loader-full-screen__spinner"></div>
  </div>
}
