<div class="animate__animated animate__fadeIn">
  <i class="material-icons cursor-pointer" routerLink="/auth">arrow_back</i>
  <div class="auth__logo flex justify-center mb-16">
    <img src="assets/images/logo.svg" alt="Logo LunaSphere" />
  </div>
  <div class="auth__titles text-center mb-16">
    <h1 class="font-subtitle">{{ title }}</h1>
    <p class="font-type-normal mt-8 text-neutral-700">{{ subTitle }}</p>
  </div>
  <div class="auth__buttons flex flex-col">
    <!-- Google sign in button -->
    <div
      id="google-sign-in-btn"
      class="mb-16 flex justify-center"
      (click)="triggerGoogleSignIn()"
      *ngIf="portal === accountTypeEnum.individual"
    ></div>
    <!-- Google sign in button -->
    <luna-sphere-button text="Log In" class="mb-8" />
    <luna-sphere-button
      text="Sign Up"
      [variant]="buttonVariantEnum.SECONDARY"
      (click)="registerRedirect()"
    />
  </div>
</div>
