<div class="animate__animated animate__fadeIn">
  <i class="material-icons cursor-pointer" routerLink="/auth">arrow_back</i>
  <div class="auth__logo flex justify-center mb-16">
    <img src="assets/images/logo.svg" alt="Logo LunaSphere" />
  </div>
  <div class="auth__titles text-center mb-16">
    <h1 class="font-subtitle">{{ title }}</h1>
    <p class="font-normal mt-8 text-neutral-700">{{ subTitle }}</p>
  </div>
  <div class="auth__buttons flex flex-col">
    <div class="col-xs-12 col-sm-12 col-md-12 m-t-10 text-center mb-4" id="google-btn">
      <div id="google-sign-in-btn" style="width: 100%"></div>
    </div>
    <button class="btn btn-primary w-full mb-8">Log In</button>
    <button class="btn btn-secondary w-full">Sign Up</button>
  </div>
</div>
