<div class="animate__animated animate__fadeIn">
  <div class="auth__logo flex justify-center mb-16">
    <img src="assets/images/logo-with-letters.svg" alt="Logo LunaSphere" />
  </div>
  <div class="auth__titles text-center mb-16">
    <h1 class="font-subtitle">Let's Get Started</h1>
    <p class="font-type-normal mt-8 text-neutral-700">
      Search, reserve, enjoy. Choose your account type to get started.
    </p>
  </div>
  <div class="auth__buttons flex flex-col">
    <luna-sphere-button
      text="Business Account"
      class="mb-8"
      routerLink="/auth/portal/business-account"
    />
    <luna-sphere-button
      text="Individual Account"
      [variant]="buttonVariantEnum.SECONDARY"
      routerLink="/auth/portal/individual-account"
    />
  </div>
</div>
